@tailwind base;
@tailwind components;
@tailwind utilities;


@import 'custom-fonts.css';

.font-helvetica-neue-medium {
  font-family: 'HelveticaNeue-Medium', Arial, sans-serif;
  font-weight: 400;
}

body {
  background-color: #1c4747;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}